VITE_BACKEND_URL=http://localhost:4000
VITE_LENDING_POOL_ADDRESS=0xYourLendingPoolAddressHere
VITE_STAKING_ADDRESS=0xYourStakingAddressHere
VITE_REWARD_TOKEN_ADDRESS=0xYourRewardTokenAddressHere

